<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="logo">
            <img id="fav" src="../public/image/favicon.png" alt="">
            <a href="/" id="logo">Y-BOX</a>
        </div>
        <ul>
            <li><button class="nav border"><a href="#section7" id="navbar">Request a Demo</a></button></li>
            <li><button class="nav noborder"><a href="/" id="navbar">Workshops</a></button></li>
            <li><button class="nav noborder"><a href="/about" id="navbar">About Us</a></button></li>
        </ul>
    </header>

    <!-- About Us -->
    <section class="section1_1">
        <span class="subheading_1">About Us</span>
        <img id="circle_image2" src="../public/image/aboutus.png" alt="">
        <p class="body3">
            <br><br><br>
            <strong>We believe “No creativity means No innovation.”</strong><br><br>

            We are DOT, Design Only Together. We are a Digital Creative Facilitator Solutions Provider.<br>
            We provide an optimised virtual space for Creative Facilitation and Online and Offline tools for Creative <br>
            workshops. We work with creative facilitators to provide inspiring workshops and experiences about<br>
            creativity for international clients worldwide, including the Netherlands, Korea, and India.<br><br>
            
            We are currently developing a virtual space for creative collaboration and a creative game application.<br>
            Our mission is to support full creativity in online and offline environments for universities, companies,<br>
            and organisations to solve complex problems in the world.
            </p>
    </section>

    <!-- Team -->
    <section class="section2">
        <span class="subheading_2">Team</span>
        <img id="circle_image2" src="../public/image/team.png" alt="">
        <p class="body4">
            We are consist of international people. We are all creative people and<br>
            we are looking for next creative members and partners!
        </p>
        <ul class="what">
            <li class="images2">
                <img id="circle_image3" src="../public/image/yeun.png" alt="">
                <span class="text2">
                    <strong>Co-founder</strong><br>
                    Yeun Kim
                </span>
            </li>
            <li class="images2">
                <img id="circle_image3" src="../public/image/sury.png" alt="">
                <span class="text2">
                    <strong>Co-founder</strong><br>
                    Suryansh Sharma
                </span>
            </li>
            <li class="images2">
                <img id="circle_image3" src="../public/image/minky.png" alt="">
                <span class="text2">
                    <strong>Developer</strong><br>
                    Minkyung Cho
                </span>
            </li>
            <li class="images2">
                <img id="circle_image3" src="../public/image/yeonju.png" alt="">
                <span class="text2">
                    <strong>Designer</strong><br>
                    Yeonju Jeon
                </span>
            </li>
        </ul>
    </section>

    <!-- Our Partner -->
    <section class="section4">
        <span class="subheading_2">Our Partner</span>
        <p class="body4">
            We are  working together with Creative Facilitators all over the world.
        </p>
        <ul class="images">
            <li class="image">
                <img id="nel" src="../public/image/Nel.png" alt="">
                <img id="mccim" src="../public/image/mccim.png" alt="">
                <p class="body5_1">
                    Nel Mostert is a Certified Professional Facilitator specialized in<br>
                    creativity & innovation. Her 20+ years of experience in facilitating<br>
                    Idea Generation Workshops resulted in the Y-box.
                </p>
            </li>
            <li class="image">
                <img id="han" src="../public/image/han.png" alt="">
                <img id="tu_delft" src="../public/image/tu_delft.png" alt="">
                <p class="body5_2">
                    Han van der Meer who is involved in Connected Creativity Minor<br>
                    course at TU Delft is one of our partners. He lectured about<br>
                    Innovation, Creativity and Entrepreneurship all over the world<br>
                    both in industry as well as in the academic world.
                </p>
            </li>
        </ul>
    </section>
</body>
</html>