<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="../public/css/aboutstyle.css">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="logo">
            <a href="/">Design by DOT</a>
        </div>
        <ul>
            <button class="border"><a>Request a Demo</a></button>
            <button class="no_border"><a href="/about">About us</a></button>
        </ul>
    </header>
    <section class="section1">
        <span class="title">About Us</span>
        <img id="circle_image" src="../public/image/aboutus.png" alt="">
        <p id="detail">We believe  “No creativity means No innovation.” <br><br>

            We are DOT, Design Only Together. We are a Digital Creative Facilitator Solutions Provider. We provide an optimised virtual space for Creative Facilitation and Online and Offline tools for Creative workshops. We work with creative facilitators to provide inspiring workshops and experiences about creativity for international clients worldwide, including the Netherlands, Korea, and India. <br><br>
            
            We are currently developing a virtual space for creative collaboration and a creative game application. Our mission is to support full creativity in online and offline environments for universities, companies, and organisations to solve complex problems in the world.
            
            </p>
    </section>
</body>
</html>