<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="../public/css/aboutstyle.css">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="logo">
            <a href="/">Design by DOT</a>
        </div>
        <ul>
            <button class="border"><a>Request a Demo</a></button>
            <button class="no_border"><a href="/about">About us</a></button>
        </ul>
    </header>
    <section class="section section1">
        <span class="title title1">About Us</span>
        <img id="circle_image" src="../public/image/aboutus.png" alt="">
        <p id="detail">
            <span class="strong">We believe  “No creativity means No innovation.”</span> <br><br>

            We are DOT, Design Only Together. We are a Digital Creative Facilitator Solutions Provider. We provide an optimised virtual space for Creative Facilitation and Online and Offline tools for Creative workshops. We work with creative facilitators to provide inspiring workshops and experiences about creativity for international clients worldwide, including the Netherlands, Korea, and India. <br><br>
            
            We are currently developing a virtual space for creative collaboration and a creative game application. Our mission is to support full creativity in online and offline environments for universities, companies, and organisations to solve complex problems in the world.
            
            </p>
    </section>

    <section class="section section2">
        <span class="title title2">Team</span>
        <img id="circle_image2" src="../public/image/team.png" alt="">
        <p id="detail2">
            We are consist of international people. We are all creative people and we are looking for next creative members and partners!
        </p>
        <ul class="team">
            <li class="members">
                <img id="circle_images" src="../public/image/yeun.png" alt="">
                <span class="text">
                    <span class="strong">Co-founder</span><br>
                    Yeun Kim
                </span>
            </li>
            <li class="members">
                <img id="circle_images" src="../public/image/sury.png" alt="">
                <span class="text">
                    <span class="strong">Co-founder</span><br>
                    Suryansh Sharma
                </span>
            </li>
            <li class="members">
                <img id="circle_images" src="../public/image/minky.png" alt="">
                <span class="text">
                    <span class="strong">Developer</span><br>
                    Minkyung Cho
                </span>
            </li>
            <li class="members">
                <img id="circle_images" src="../public/image/yeonju.png" alt="">
                <span class="text">
                    <span class="strong">Designer</span><br>
                    Yeonju Jeon
                </span>
            </li>
        </ul>
    </section>

    <section class="section section3">
        <span class="title title3">Our Partner</span>
        <img id="circle_image" src="../public/image/ourpartner.png" alt="">
        <p id="detail2">
            We are  working together with Creative Facilitators all over the world.
            </p>
    </section>

    <section class="section section4">
        <span class="title title4">MCCIM</span>
        <ul class="images">
            <li class="image"><img id="circle_image" src="../public/image/nel.png" alt=""></li>
            <li class="image"><img id="mccim" src="../public/image/mccim.png" alt=""></li>
        </ul>
        <p id="detail2">
            Nel Mostert is a Certified Professional Facilitator specialized in creativity &
            innovation. Her 20+ years of experience in facilitating Idea Generation
            Workshops resulted in the Y-box.
            </p>
    </section>
</body>
</html>