<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design Only Together</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="shortcut icon" href="../public/image/favicon.ico" type="image/x-icon">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="logo">
            <a href="/">Design by DOT</a>
        </div>
        <ul>
            <button class="border"><a>Request a Demo</a></button>
            <button class="no_border"><a href="/about">About us</a></button>
        </ul>
    </header>
    
    <!-- Main -->
    <section class="section1">
        <span class="title main_text">
            Y-BOX is a digital card <br>
            deck that leverages <br>
            creative idea generation
        </span>
        <div class="icons">
            <li class="icon icon_place">
                <img src="../public/image/icon_place.png" alt="" id="place">
            </li>
            <li class="icon icon_product">
                <img src="../public/image/icon_product.png" alt="" id="product">
            </li>
            <li class="icon icon_price">
                <img src="../public/image/icon_price.png" alt="" id="price">
            </li>
            <li class="icon icon_packaging">
                <img src="../public/image/icon_packaging.png" alt="" id="packaging">
            </li>
            <li class="icon icon_proposition">
                <img src="../public/image/icon_proposition.png" alt="" id="proposition">
            </li>
            <li class="icon icon_promotion">
                <img src="../public/image/icon_promotion.png" alt="" id="promotion">
            </li>
        </div>
    </section>

    <!-- Experience and Technology -->
    <section class="section2">
        <span class="title experience_text">About Y-BOX</span>
        <ul class="experience">
            <li class="experience_card">
                <div class="card1__inner">
                    <div class="card__face face1 card__face--front">
                        <img id="experience_image" src="../public/image/experience.png" alt="">
                        <span class="image_text">20 + years experience</span>
                    </div>
                    <div class="card__face card__face--back">
                        <div class="card__content">
                            <p>
                                The set of questions is an outcome of iteration while being used in creative sessions by many different organizations
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="experience_card symbol">
                <span class="symbol_text">+</span>
            </li>
            <li class="experience_card">
                <div class="card2__inner">
                    <div class="card__face face2 card__face--front">
                        <img id="experience_image" src="../public/image/technology.png" alt="">
                        <span class="image_text">Technology</span>
                    </div>
                    <div class="card__face card__face--back">
                        <div class="card__content content2">
                            <p>
                                Technology such as random image and text generators cues inspiring ideas 
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="experience_card symbol">
                <span class="symbol_text">=</span>
            </li>
            <li class="experience_card">
                <div class="card3__inner">
                    <div class="card__face face3 card__face--front">
                        <img id="experience_image" src="../public/image/y-box.png" alt="">
                        <span class="image_text">Y-BOX</span>
                    </div>
                    <div class="card__face card__face--back">
                        <div class="card__content">
                            <p>
                                Y-BOX supports online and offline creativity sessions by combining experience and technology.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <span class="detail experience_text">
            Y-BOX cues inspiring ideas by providing<br> more than 430 questions in 6 categories
        </span>
    </section>

    <!-- Y-BOX Demo frame -->
    <section class="section4">
        <div class= "six_p">
            <button class="btn placeBtn">Place</button>
            <button class="btn productBtn">Product</button>
            <button class="btn priceBtn">Price</button>
            <button class="btn packagingBtn">Packaging</button>
            <button class="btn propositionBtn">Proposition</button>
            <button class="btn promotionBtn">Promotion</button>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-1"></div>
                <div class="card-back">
                    <img id="back" src="../public/image/back_1.png" alt="">
                </div>
            </div>
            <div class="card card1">
                <div class="bar"></div>
                <div class="www">where</div>
                <div class="p">Place</div>
                <div class="card1 sub">People</div>
                <img id="number" src="../public/image/number.png" alt="">
                <div class="number"></div>
                <h3 class="card1 cardtitle">
                    How to make your product dangerous to eat;<br>
                    only for adventurers!
                </h3>
                <div class="button">
                    <div class="line">
                        <p id="type">⏐Type your ideas</p>
                        <p id="send">Send</p>
                    </div>
                    <div class="buttontext">Need some inspiration?</div> 
                </div>
            </div>
            <div class="card card2">
                <div class="bar"></div>
                <div class="www">where</div>
                <div class="p">Place</div>
                <div class="card2 sub">own &nbsp distribution</div>
                <img id="number" src="../public/image/number.png" alt="">
                <div class="number"></div>
                <h3 class="card2 cardtitle">How to sell your products at your own product parties?</h3>
                <div class="button">
                    <div class="line">
                        <p id="type">⏐Type your ideas</p>
                        <p id="send">Send</p>
                    </div>
                    <div class="buttontext">Need some inspiration?</div> 
                </div>
            </div>
            <div class="card card3">
                <div class="bar"></div>
                <div class="www">where</div>
                <div class="p">Place</div>
                <div class="card3 sub">on &nbsp the &nbsp go</div>
                <img id="number" src="../public/image/number.png" alt="">
                <div class="number"></div>
                <h3 class="card3 cardtitle">How to make your product ready to use / consume in a very short time?</h3>
                <div class="button">
                    <div class="line">
                        <p id="type">⏐Type your ideas</p>
                        <p id="send">Send</p>
                    </div>
                    <div class="buttontext">Need some inspiration?</div> 
                </div>
            </div>
            <div class="card card4">
                <div class="bar">
                    <div class="www">where</div>
                    <div class="p">Place</div>
                    <div class="card4 sub">Family</div>
                    <img id="number" src="../public/image/number.png" alt="">
                    <div class="number"></div>
                </div>
                <div class="mini">
                    <img id="mini" src="../public/image/icon_1.png" alt="">
                </div>
                <h3 class="card4 cardtitle">How would your "Baby first Product" look like?</h3>
                <div class="button onebutton">
                    <div class="line">
                        <p id="type">⏐Type your ideas</p>
                        <p id="send">Send</p>
                    </div>
                    <div class="buttontext onebuttontext">Need some inspiration?</div> 
                </div>
            </div>
        </div>
    </section>

    <!-- What Y-BOX offers -->
    <section class="section5">
        <span class="title what_text">
            What Y-BOX offers
        </span>
        <ul class="what">
            <li class="images">
                <img id="circle_image" src="../public/image/image_1.png" alt="">
                <span class="text">
                    430+ Qs to generate better <br>
                    and different ideas
                </span>
            </li>
            <li class="images">
                <img id="circle_image" src="../public/image/image_2.png" alt="">
                <span class="text">
                    Image resouces will enrich<br>
                    the ideas
                </span>
            </li>
            <li class="images">
                <img id="circle_image" src="../public/image/image_3.png" alt="">
                <span class="text">
                    Brainstorm together with your<br>
                    team both in online and offline
                </span>
            </li>
            <li class="images">
                <img id="circle_image" src="../public/image/image_4.png" alt="">
                <span class="text">
                    Accelerate your creativity by<br>
                    adjusting the tempo of the session
                </span>
            </li>
            <li class="images">
                <img id="circle_image" src="../public/image/image_5.png" alt="">
                <span class="text">
                    The overview allows you to review<br>
                    and cluster your ideas 
                </span>
            </li>
        </ul>
    </section>

    <!-- Features -->
    <section class="section6">
        <span class="title demo_text">
            Y-BOX Application Features
        </span>
        <section class="scroll">
            <section class="section6_1">
                <div class="imagentext">
                    <img id="ai_card" src="../public/image/ai_card.png" alt="">
                    <img id="ai_webinars" src="../public/image/webinars.png" alt="">
                    <img id="ai_stations" src="../public/image/stations.png" alt="">
                    <img id="ai_hospitals" src="../public/image/hospitals.png" alt="">
                    <span class="features_text ai">
                        Artificial Intelligence is used<br>
                        to <span class="purple">real-time change the text</span><br>
                        on the cards. <span class="purple">Generate more<br>
                        ideas</span> with the same card!
                    </span>
                </div>
            </section>
            <section class="section6_2">
                <img id="inspirations" src="../public/image/inspirations.png" alt="">
                <span class="features_text inspirations">
                    Need some <span class="orange">inspirations</span>?<br>
                    Random images expand your<br>
                    limitation and help you think<br>
                    out of the box
                </span>
                <div class="button inspirations_button">
                    <div class="buttontext">Need some inspiration?</div> 
                </div>
            </section>
            <section class="section6_3">
                <div class="tempogif">
                    <div id="tempogif"></div>
                    <input type="range" id="slider" min="1" max="5" value="3">
                    <img src="../public/image/bar.png" alt="" id="bar">
                </div>
                <span class="features_text tempo">
                    Everyone has different<br>
                    speed. Set your <span class="blue">speed</span> and<br>
                    boost up your creativity
                </span>
            </section>
            <section class="section6_4">
                <img id="share" src="../public/image/share.png" alt="">
                <span class="features_text share">
                    <span class="pink">Share</span> your ideas with your<br>
                    team and <span class="pink">save</span> all the ideas to<br>
                    move further to the next step
                </span>
            </section>
            <section class="section6_5">
                <div class="reflect">
                    <span class="reflect_text">
                        <span class="orange">Reflect</span> your creative session and save all the<br>
                        ideas you generated throughout the session 
                    </span>
                    <img id="reflect_image" src="../public/image/speed.png" alt="">
                    <img id="reflect_image" src="../public/image/cards.png" alt="">
                    <img id="reflect_image" src="../public/image/resources.png" alt="">
                    <img id="reflect_image" src="../public/image/topics.png" alt="">
                </div>
            </section>
        </section>
    </section>

    <section class="section6_6">
        <div class="laptopnphone">
            <img id="laptop" src="../public/image/laptop.png" alt="">
            <img id="phone" src="../public/image/phone.png" alt="">
        </div>
    </section>

    <!-- Contact us-->
    <section class="section7">
        <span class="title contact_text">
            We are open to business opportunities!
        </span>
        <p class="detail contact_text">
            We are currently developing the demo app to
            reach our potential users.<br><br>
            Do you want to try out the demo app in your
            creative session or do you want to collaborate
            with us in any form? Drop us a line to get in
            touch with us! We are happy to connect.
        </p>

        <form action="/" method="POST">
            <label for="input_name">Name *</label><br>
            <input type="text" id="input_name" required><br><br>
            <label for="input_email">Email address *</label><br>
            <input type="text" id="input_email" required><br><br>
            <label for="input_company">Company</label><br>
            <input type="text" id="input_company"><br><br>
            <label for="input_message">Message *</label><br>
            <textarea name="message" id="input_message" cols="73" rows="3" required></textarea><br>
            <input type="submit" value="Send message" id="submit">
        </form>

        <div class="icons">
            <li class="icon icon_place2">
                <img src="../public/image/icon_place.png" alt="" id="place2">
            </li>
            <li class="icon icon_product2">
                <img src="../public/image/icon_product.png" alt="" id="product2">
            </li>
            <li class="icon icon_price2">
                <img src="../public/image/icon_price.png" alt="" id="price2">
            </li>
            <li class="icon icon_packaging2">
                <img src="../public/image/icon_packaging.png" alt="" id="packaging2">
            </li>
            <li class="icon icon_proposition2">
                <img src="../public/image/icon_proposition.png" alt="" id="proposition2">
            </li>
            <li class="icon icon_promotion2">
                <img src="../public/image/icon_promotion.png" alt="" id="promotion2">
            </li>
        </div>
    </section>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.min.js"></script>
<script src="/public/js/app.js"></script>
<script src="../public/js/gif.js"></script>
</html>