<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design Only Together</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>

    <!-- Header -->
    <header>
        <div class="logo">
            <a href="/">Design Only Together</a>
        </div>
        <ul class="buttons">
            <li><a href="/">Request from Demo</a></li>
            <li><a href="/about">About us</a></li>
        </ul>
    </header>
    
    <!-- Main -->
    <section class="section1_main">
        <span class="main_text">Leverage your creativity using Y-BOX</span>
    </section>

    <!-- About -->
    <section class="section2_about">
        <p class="about_text1">About Y-BOX</p>
        <p class="about_text2">proven by +@ years of experience</p>
    </section>

    <!-- Experience -->
    <section class="section3_experience">
        <ul class="experience">
            <li class="image">
                <img id="circle_image" src="../public/image/basic.png" alt="">
                <span class="image_text">20 + years experience</span>
            </li>
            <li class="image">
                <span class="symbol_text">+</span>
            </li>
            <li class="image">
                <img id="circle_image" src="../public/image/basic.png" alt="">
                <span class="image_text">Technology</span>
            </li>
            <li class="image">
                <span class="symbol_text">=</span>
            </li>
            <li class="image">
                <img id="circle_image" src="../public/image/basic.png" alt="">
                <span class="image_text">Y-BOX</span>
            </li>
        </ul>
        <span class="experience_text">We boost up your creativity<br>by combining 00 years of<br>experience and technology</span>
    </section>

    <section class="section4_what">
        <span class="what_text">What Y-BOX offers</span>
        <ul>
            <li class="image">
                <img id="circle_image" src="../public/image/basic.png" alt="">
                <span class="image_text">430 + Questions which<br>allow you brainstrom out<br>of the box</p>
            </li>
            <li class="image">
                <img id="circle_image" src="../public/image/basic.png" alt="">
                <span class="image_text">Brainstrom together with<br>your team both in online<br>and offline</p>
            </li>
            <li class="image">
                <img id="circle_image" src="../public/image/basic.png" alt="">
                <span class="image_text"><br>AI generated images and<br>texts will enrich the ideas</p>
            </li>
            <li class="image">
                <img id="circle_image" src="../public/image/basic.png" alt="">
                <span class="image_text">By adjusting the tempo of<br>the brainstorming,<br>accelerate your creativity</p>
            </li>
            <li class="image">
                <img id="circle_image" src="../public/image/basic.png" alt="">
                <span class="image_text">The overview allow you to<br>review the cards and<br>cluster your ideas </p>
            </li>
        </ul>
    </section>

    <!-- Demo -->
    <section class="section5_demo">
        <div class= "six_p">
            <button class="place">Place</button>
            <button class="product">Product</button>
            <button class="price">Price</button>
            <button class="packaging">Packaging</button>
            <button class="proposition">Proposition</button>
            <button class="promotion">Promotion</button>
        </div>
    </section>

    <section class="section6_features">
        <span>Y-BOX Application<br>Features</span>
        <div class="card_image"></div>
        <div class="ai">
            <img id="ai_image" src="../public/image/ai_text.png" alt="">
            <span class="text">AI text change makes your<br>session everytime different<br>and help you and your team<br>generate more ideas</span>
        </div>
        <div class="ai">
            <img id="ai_image" src="../public/image/ai_image.png" alt="">
            <span class="text">AI generated random image<br>resources spark your ideas</span>
        </div>
        <div class="speed">
            <img id="speed_image" src="../public/image/speed.png" alt="">
            <span class="text">Everyone has different speed.<br>Set your tempo and<br>boost up your creativity</span>
        </div>
        <div class="idea_note">
            <img id="idea_image" src="../public/image/idea_note.png" alt="">
            <span class="text">Type your ideas next to the cards<br>and share with your team</span>
        </div>
        <div class="frame">
            <img id="frame_image" src="../public/image/frame.png" alt="">
        </div>
        <div class="reflection">

        </div>
    </section>

    <section class="section7_contact">
    </section>
</body>
<script src="/public/js/app.js"></script>
</html>