<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design Only Together</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="shortcut icon" href="../public/image/favicon.ico" type="image/x-icon">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="logo">
            <img id="fav" src="../public/image/favicon.svg" alt="">
            <a href="/" id="logo">Y-BOX</a>
        </div>
        <ul>
            <li><button class="nav border"><a href="#section7" id="navbar">Request a Demo</a></button></li>
            <li><button class="nav noborder"><a href="/workshops" id="navbar">Workshops</a></button></li>
            <li><button class="nav noborder"><a href="/about" id="navbar">About Us</a></button></li>
        </ul>
    </header>
    
    <!-- Main -->
    <section class="section1">
        <span class="title">
            Presenting Y-BOX,<br>
            A digital creative facilitation<br>
            toolbox that uses AI to<br>
            empower your ideas.
        </span>
        <div class="main_icons">
            <img src="../public/image/main_icons.svg" alt="">
        </div>
    </section>

    <!-- About Y-BOX -->
    <section class="section2">
        <span class="subheading2">
            Y-BOX combines Creative brainstorming expertise with<br>
            Technology to give a gameified idea generating experience
        </span>
        <ul class="y_box">
            <li class="flip_card">
                <div class="card1__inner">
                    <div class="card__face face1 card__face--front">
                        <img id="card_face" src="../public/image/experience.png" alt="">
                        <span class="image_text">20 + years experience</span>
                    </div>
                    <div class="card__face card__face--back">
                        <div class="card__content">
                            <p>
                                The set of questions is an outcome of iteration while being used in creative sessions by many different organizations
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="symbol">
                <img id="symbol" src="../public/image/plus.svg" alt="">
            </li>
            <li class="flip_card">
                <div class="card2__inner">
                    <div class="card__face face2 card__face--front">
                        <img id="card_face" src="../public/image/technology.png" alt="">
                        <span class="image_text">Technology</span>
                    </div>
                    <div class="card__face card__face--back">
                        <div class="card__content content2">
                            <p>
                                Technology such as random image and text generators cues inspiring ideas 
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="symbol">
                <img id="symbol" src="../public/image/equal.svg" alt="">
            </li>
            <li class="flip_card">
                <div class="card3__inner">
                    <div class="card__face face3 card__face--front">
                        <img id="card_face" src="../public/image/y-box.png" alt="">
                        <span class="image_text">Y-BOX</span>
                    </div>
                    <div class="card__face card__face--back">
                        <div class="card__content content2">
                            <p>
                                Y-BOX supports online and offline creativity sessions by combining experience and technology.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>

    <!-- 6P Cards -->
    <section class="section3">
        <span class="subheading3">
            Using specially crafted cues in the form of 430 questions spanning 6 categories,<br>
            Y-Box inspires product and service ideas by amplifying your innovation 
        </span>
        <div class= "six_p">
            <button class="btn placeBtn">
                <div class="button"><img id="btn_icon" src="../public/image/icon_1.svg" alt=""><p>Place</p></div>
            </button>
            <button class="btn productBtn">
                <div class="button"><img id="btn_icon" src="../public/image/icon_2.svg" alt=""><p>Product</p></div>
            </button>
            <button class="btn priceBtn">
                <div class="button"><img id="btn_icon" src="../public/image/icon_3.svg" alt=""><p>Price</p></div>
            </button>
            <button class="btn packagingBtn">
                <div class="button"><img id="btn_icon" src="../public/image/icon_4.svg" alt=""><p>Packaging</p></div>
            </button>
            <button class="btn propositionBtn">
                <div class="button"><img id="btn_icon" src="../public/image/icon_5.svg" alt=""><p>Proposition</p></div>
            </button>
            <button class="btn promotionBtn">
                <div class="button"><img id="btn_icon" src="../public/image/icon_6.svg" alt=""><p>Promotion</p></div>
            </button>
        </div>
        <div class="container">
            <div class="card card1">
                <div class="bar"></div>
                <div class="www">where</div>
                <div class="p">Place</div>
                <div class="card1 sub">People</div>
                <img id="number" src="../public/image/number.png" alt="">
                <div class="number"></div>
                <div class="mini">
                    <img id="mini" src="../public/image/icon_1.svg" alt="">
                </div>
                <div class="emoji">
                    <img id="card_emoji" src="../public/image/card_emoji.svg" alt="">
                </div>
                <h3 class="card1 cardtitle">
                    How to make your product dangerous to eat;<br>
                    only for adventurers!
                </h3>
            </div>
            <div class="card card2">
                <div class="bar"></div>
                <div class="www">where</div>
                <div class="p">Place</div>
                <div class="card2 sub">own &nbsp distribution</div>
                <img id="number" src="../public/image/number.png" alt="">
                <div class="number"></div>
                <div class="mini">
                    <img id="mini" src="../public/image/icon_1.svg" alt="">
                </div>
                <div class="emoji">
                    <img id="card_emoji" src="../public/image/card_emoji.svg" alt="">
                </div>
                <h3 class="card2 cardtitle">How to sell your products at your own product parties?</h3>
            </div>
            <div class="card card3">
                <div class="bar"></div>
                <div class="www">where</div>
                <div class="p">Place</div>
                <div class="card3 sub">on &nbsp the &nbsp go</div>
                <img id="number" src="../public/image/number.png" alt="">
                <div class="number"></div>
                <div class="mini">
                    <img id="mini" src="../public/image/icon_1.svg" alt="">
                </div>
                <div class="emoji">
                    <img id="card_emoji" src="../public/image/card_emoji.svg" alt="">
                </div>
                <h3 class="card3 cardtitle">How to make your product ready to use / consume in a very short time?</h3>
            </div>
            <div class="card card4">
                <div class="bar">
                    <div class="www">where</div>
                    <div class="p">Place</div>
                    <div class="card4 sub">Family</div>
                    <img id="number" src="../public/image/number.png" alt="">
                    <div class="number"></div>
                </div>
                <div class="mini">
                    <img id="mini" src="../public/image/icon_1.svg" alt="">
                </div>
                <div class="emoji">
                    <img id="card_emoji" src="../public/image/card_emoji.svg" alt="">
                </div>
                <h3 class="card4 cardtitle">How would your "Baby first Product" look like?</h3>
            </div>
        </div>
    </section>

    <!-- What Y-BOX offers -->
    <section class="section4">
        <span class="heading">
            What Y-BOX offers
        </span>
        <ul class="what">
            <li class="images">
                <img id="circle_image" src="../public/image/offer_1.svg" alt="">
                <span class="text">
                    400+ cues to lead to diverse ideas
                </span>
            </li>
            <li class="images">
                <img id="circle_image" src="../public/image/offer_2.svg" alt="">
                <span class="text">
                    AI assisted image promts to fuel your imagination
                </span>
            </li>
            <li class="images">
                <img id="circle_image" src="../public/image/offer_3.svg" alt="">
                <span class="text">
                    Platform for team brainstorming (online and offline)
                </span>
            </li>
            <li class="images">
                <img id="circle_image" src="../public/image/offer_4.svg" alt="">
                <span class="text">
                    Gamified experience to customize and accelerate the session
                </span>
            </li>
            <li class="images">
                <img id="circle_image" src="../public/image/offer_5.svg" alt="">
                <span class="text">
                    Derive insights, review and cluster your generated ideas
                </span>
            </li>
        </ul>
    </section>

    <!-- What Y-BOX can do for you -->
    <section class="section5">
        <span class="heading">
            What Y-BOX can do for <i>you</i>
        </span>
        <section class="scroll">
            <section class="section5_1">
                <img id="ai_card" src="../public/image/ai_card.svg" alt="">
                <img id="ai_webinars" src="../public/image/ai_webinars.svg" alt="">
                <img id="ai_stations" src="../public/image/ai_stations.svg" alt="">
                <img id="ai_hospitals" src="../public/image/ai_hospitals.svg" alt="">
                <span class="body ai">
                    Using context-aware<br>
                    Artificial Intelligence (AI)<br>
                    the <span class="purple">text is updated</span> in real time.<br>
                    Reusing the same card multiple<br>
                    time still <span class="purple">generates new ideas</span>!<br>
                </span>
            </section>
            <section class="section5_2">
                <img id="inspirations" src="../public/image/inspirations.svg" alt="">
                <span class="body inspirations">
                    Need some <span class="orange">inspiration?</span><br>
                    View dynamically curated<br>
                    images based on the cue to<br>
                    expand your perspective to<br>
                    always think <span class="orange">out of the box</span>!<br>
                </span>
            </section>
            <section class="section5_3">
                <div class="tempogif">
                    <div id="tempogif"></div>
                    <input type="range" id="slider" min="1" max="5" value="3">
                    <img src="../public/image/bar.svg" alt="" id="bar">
                </div>
                <span class="body tempo">
                    Everyone sets their own pace!<br>
                    Choose your <span class="blue">speed</span> to match<br>
                    your style while brainstorming<br>
                </span>
            </section>
            <section class="section5_4">
                <img id="share_card" src="../public/image/share_card.svg" alt="">
                <img id="share_idea" src="../public/image/share_idea.svg" alt="">
                <span class="body share">
                    <span class="pink">Share</span> your ideas with your<br>
                    team and <span class="pink">save</span> all the ideas to<br>
                    move further to the next step
                </span>
            </section>
            <section class="section5_5">
                <div class="review">
                    <span class="body review">
                        <span class="orange">Review</span> and <span class="orange">Reflect</span> on your creative session and<br>
                        analyze the ideas generated throughout the session
                    </span>
                    <img id="review" src="../public/image/review_speed.svg" alt="">
                    <img id="review" src="../public/image/review_cards.svg" alt="">
                    <img id="review" src="../public/image/review_resources.svg" alt="">
                    <img id="review" src="../public/image/review_topics.svg" alt="">
                </div>
            </section>
        </section>
    </section>

    <!-- Webpage example -->
    <section class="section6">
        <img id="application" src="../public/image/web_example.svg" alt="">
    </section>

    <!-- Contact us-->
    <section class="section7" id="section7">
        <span class="subheading">
            We would to hear from you!
        </span>
        <p class="body2">
            We are currently working very hard to develop
            a demo for our app for beta testing and
            for reaching out to our potential users.<br><br>
            
            Do you want to try our app as part of your
            creative session or do you want to collaborate
            with us in any form?<br><br>

            Drop us a line! We are happy to connect.
        </p>

        <form id="formtag" action="/" method="POST">
            <label for="input_name">Name *</label><br>
            <input type="text" id="input_name" required><br><br>
            <label for="input_email">Email address *</label><br>
            <input type="text" id="input_email" required><br><br>
            <label for="input_company">Company</label><br>
            <input type="text" id="input_company"><br><br>
            <label for="input_message">Message *</label><br>
            <textarea name="message" id="input_message" cols="73" rows="3" required></textarea><br>
            <input type="submit" value="Send message" id="submit">
        </form>
    </section>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.min.js"></script>
<script src="/public/js/app.js"></script>
<script src="../public/js/gif.js"></script>
</html>