<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design Only Together</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <!-- Main -->
    <section class="section1">
        <header>
            <div class="logo">
                <a href="/">Design Only Together</a>
            </div>
            <ul>
                <button class="border"><a>Request from Demo</a></button>
                <button class="no_border"><a href="/about">About us</a></button>
            </ul>
        </header>
        <span class="title main_text">Leverage your creativity using Y-BOX</span>
    </section>

    <!-- Experience and Technology -->
    <section class="section2">
        <span class="title experience_text">About Y-BOX</span>
        <p class="detail experience_text">
            This set of cards has been used for 20 years across many different<br>
            organisations to provide the most creative and effective ways to generate ideas. Now<br>
            we are converting this to an online tool to support online creativity sessions.
        </p>
        <ul class="experience">
            <li class="images">
                <img id="circle_image" src="../public/image/experience.png" alt="">
                <span class="image_text">20 + years experience</span>
            </li>
            <li class="images">
                <span class="symbol_text">+</span>
            </li>
            <li class="images">
                <img id="circle_image" src="../public/image/technology.png" alt="">
                <span class="image_text">Technology</span>
            </li>
            <li class="images">
                <span class="symbol_text">=</span>
            </li>
            <li class="images">
                <img id="circle_image" src="../public/image/y-box.png" alt="">
                <span class="image_text">Y-BOX</span>
            </li>
        </ul>
    </section>

    <!-- We Boost -->
    <section class="section3">
        <span class="title we_text">
            We boost up your<br>
            creativity by combining<br>
            20+ years of experience<br>
            and technology
        </span>
        <div class="icons">
            <li class="icon icon_place">
                <img src="../public/image/icon_place.png" alt="" id="place">
            </li>
            <li class="icon icon_product">
                <img src="../public/image/icon_product.png" alt="" id="product">
            </li>
            <li class="icon icon_price">
                <img src="../public/image/icon_price.png" alt="" id="price">
            </li>
            <li class="icon icon_packaging">
                <img src="../public/image/icon_packaging.png" alt="" id="packaging">
            </li>
            <li class="icon icon_proposition">
                <img src="../public/image/icon_proposition.png" alt="" id="proposition">
            </li>
            <li class="icon icon_promotion">
                <img src="../public/image/icon_promotion.png" alt="" id="promotion">
            </li>
        </div>
    </section>

    <!-- What Y-BOX offers -->
    <section class="section4">
        <span class="title what_text">
            What Y-BOX offers
        </span>
        <ul class="what">
            <li class="images">
                <img id="circle_image" src="../public/image/image_1.png" alt="">
                <span class="text">
                    430 + Questions which allow you<br>
                    brainstrom out of the box
                </span>
            </li>
            <li class="images">
                <img id="circle_image" src="../public/image/image_2.png" alt="">
                <span class="text">
                    Brainstrom together with your<br>
                    team both in online and offline
                </span>
            </li>
            <li class="images">
                <img id="circle_image" src="../public/image/image_3.png" alt="">
                <span class="text">
                    AI generated images and texts <br>
                    will enrich the ideas
                </span>
            </li>
            <li class="images">
                <img id="circle_image" src="../public/image/image_4.png" alt="">
                <span class="text">
                    Accelerate your creativity by<br>
                    adjusting the tempo of the session
                </span>
            </li>
            <li class="images">
                <img id="circle_image" src="../public/image/image_5.png" alt="">
                <span class="text">
                    The overview allows you to review<br>
                    the cards and cluster your ideas 
                </span>
            </li>
        </ul>
    </section>

    <!-- Y-BOX Demo frame -->
    <section class="section5">
        <div class= "six_p">
            <button class="six place">Place</button>
            <button class="six product">Product</button>
            <button class="six price">Price</button>
            <button class="six packaging">Packaging</button>
            <button class="six proposition">Proposition</button>
            <button class="six promotion">Promotion</button>
        </div>
        <div class="cards">
            <img id="cards_image" src="../public/image/place_cards.png" alt="">
        </div>
    </section>

    <!-- Features -->
    <section class="section6">
        <section class="section6_1">
            <span class="title demo_text">
                Y-BOX Application Features
            </span>
            <div class="imagentext">
                <img id="ai_card" src="../public/image/ai_card.png" alt="">
                <img id="ai_webinars" src="../public/image/webinars.png" alt="">
                <img id="ai_stations" src="../public/image/stations.png" alt="">
                <img id="ai_hospitals" src="../public/image/hospitals.png" alt="">
                <span class="features_text ai">
                    <span class="purple">Artificial Intelligence text<br>
                    change</span> makes your session<br>
                    everytime different and help<br>
                    you and your team generate<br>
                    more ideas
                </span>
            </div>
        </section>
        <section class="section6_2">
            <img id="inspirations" src="../public/image/inspirations.png" alt="">
            <span class="features_text inspirations">
                Need some <span class="orange">inspirations</span>?<br>
                AI generated random images<br>
                are ready to spark your ideas
            </span>
        </section>
        <section class="section6_3">
            <img id="tempo" src="../public/image/tempo.png" alt="">
            <span class="features_text tempo">
                Everyone has different speed.<br>
                Set your <span class="blue">tempo</span> and boost up<br>
                your creativity
            </span>
        </section>
        <section class="section6_4">
            <img id="share" src="../public/image/share.png" alt="">
            <span class="features_text share">
                <span class="pink">Share</span> your ideas with your<br>
                team and <span class="pink">save</span> all the ideas for<br>
                the next step
            </span>
        </section>
        <section class="section6_5">
            <div class="laptopnphone">
                <img id="laptop" src="../public/image/laptop.png" alt="">
                <img id="phone" src="../public/image/phone.png" alt="">
            </div>
        </section>
        <section class="section6_6">
            <div class="reflect">
                <span class="reflect_text">
                    <span class="orange">Reflect</span> your creative session and save all the ideas<br>
                    you generated throughout the session 
                </span>
                <img id="reflect_image" src="../public/image/speed.png" alt="">
                <img id="reflect_image" src="../public/image/cards.png" alt="">
                <img id="reflect_image" src="../public/image/resources.png" alt="">
                <img id="reflect_image" src="../public/image/topics.png" alt="">
            </div>
        </section>
    </section>

    <!-- Contact us-->
    <section class="section7">
        <span class="title contact_text">
            We are open to business opportunities!
        </span>
        <p class="detail contact_text">
            We are currently developing the demo app to
            reach our customers.<br><br>
            Do you want to be updated to try out the demo
            app in your creative session or want to
            collaborate with us in any form? <br><br>
            Drop us a line to get touch with us!
        </p>

        <form action="/" method="POST">
            <label for="input_name">Name *</label><br>
            <input type="text" id="input_name" required><br><br>
            <label for="input_email">Email address *</label><br>
            <input type="text" id="input_email" required><br><br>
            <label for="input_company">Company</label><br>
            <input type="text" id="input_company"><br><br>
            <label for="input_message">Message *</label><br>
            <textarea name="message" id="input_message" cols="71" rows="3" required></textarea><br>
            <input type="submit" value="Send message" id="submit">
        </form>

        <div class="icons">
            <li class="icon icon_place2">
                <img src="../public/image/icon_place.png" alt="" id="place">
            </li>
            <li class="icon icon_product2">
                <img src="../public/image/icon_product.png" alt="" id="product">
            </li>
            <li class="icon icon_price2">
                <img src="../public/image/icon_price.png" alt="" id="price">
            </li>
            <li class="icon icon_packaging2">
                <img src="../public/image/icon_packaging.png" alt="" id="packaging">
            </li>
            <li class="icon icon_proposition2">
                <img src="../public/image/icon_proposition.png" alt="" id="proposition">
            </li>
            <li class="icon icon_promotion2">
                <img src="../public/image/icon_promotion.png" alt="" id="promotion">
            </li>
        </div>
    </section>
</body>
<script src="/public/js/app.js"></script>
</html>