@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body, header {
    margin: 0 auto;
}

.section1 {
    margin-bottom: 2.8vw;
    height: 67.83vw;
    overflow: hidden;
}

.section2, .section3, .section4, .section6, .section7{
    margin-bottom: 2.8vw;
    height: 64.19vw;
    overflow: hidden;
}

.section5_1, .section5_2, .section5_3, .section5_4, .section5_5 {
    margin-bottom: 2.8vw;
    height: 50.89vw;
    overflow: hidden;
    position: relative;
}

header, .section2 {
    font-family: Roboto;
    font-style: normal;
}

header, .section1 {
    font-weight: bold;
}

.section2 {
    font-weight: 900;
}

.section1 {
    font-family: Nunito;
    font-style: normal;
}

body {
    width: 1320px;
    background-color: black;
    color: white;
    text-align: center;
}

header {
    width: 1320px;
    height: 3.64vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: black;
    z-index: 1;
}

.logo {
    display: flex;
}

#fav {
    margin: 0 0.68vw 0 1.35vw;
    height: 1.76vw;
    width: 1.76vw;
}

#logo {
    font-size: 1.49vw;
}

#navbar {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.08vw;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

.nav {
    outline: none;
    border: none;
    background-color: transparent;
    margin: 0 0.68vw;
}

.nav.border {
    padding: 0;
    width: 11.51vw;
    height: 2.30vw;
    border: 0.07vw solid #fff;
    border-radius: 2.1vw;
    background-color: black;
}

.nav.border:hover {
    background-color: white;
    color: black;
}

.nav.noborder {
    margin: 0.35vw 0.7vw;
    padding: 0.21vw 0.98vw;
}

a {
    text-decoration: none;
    color: white;
}

a[href^="#"]:hover {
    color: black;
}
.section {
    width: 1440px;
    height: 900px;
    margin-bottom: 70px;
}

.title {
    display: block;
    padding-top: 70px;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
}

#circle_image {
    margin: 60px auto;
    width: 241px;
    height: 246px;
}

#detail {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 0 auto;
    width: 884px;
    height: 384px;
}

#circle_image2 {
    margin: 45px auto;
    width: 241px;
    height: 246px;
}

#detail2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    width: 867px;
    height: 76px;
}

.team {
    margin: 45px 100px 0px;
    display: flex;
    justify-content: center;
}

.members {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px;
}

#circle_images {
    width: 195px;
    height: 195px;
    margin-bottom: 30px;
}

.text {
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
}

.strong {
    font-weight: bold;
    font-size: 24px;
}

.title3 {
    display: block;
    padding-top: 180px;
}

#detail2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin: 0 auto;
}

.title4 {
    display: block;
    padding-top: 110px;
}

#mccim {
    margin: 128px 0px;
    width: 287px;
    height: 111px;
}

.images {
    display: flex;
    justify-content: space-around;
    margin: 0px 390px;
}

.image {
    display : flex;
    flex-direction: column;
}