@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {

    --place-color: #892E8D;
    --product-color: #FF8C12;
    --price-color: #FF604E;
    --packaging-color: #FF79A5;
    --proposition-color: #37BF3D;
    --promotion-color: #1898E3;

    --cards-background-color: #121212;
}

* {
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body, header {
    margin: 0 auto;
}

.section1 {
    margin-bottom: 2.8vw;
    height: 67.83vw;
    overflow: hidden;
}

.section2, .section3, .section4, .section6, .section7{
    margin-bottom: 2.8vw;
    height: 64.19vw;
    overflow: hidden;
}

.section5_1, .section5_2, .section5_3, .section5_4, .section5_5 {
    margin-bottom: 2.8vw;
    height: 50.89vw;
    overflow: hidden;
    position: relative;
}

header, .section2 {
    font-family: Roboto;
    font-style: normal;
}

header, .section1 {
    font-weight: bold;
}

.section2 {
    font-weight: 900;
}

.section1 {
    font-family: Nunito;
    font-style: normal;
}

body {
    width: 1320px;
    background-color: black;
    color: white;
    text-align: center;
}

header {
    width: 1320px;
    height: 3.64vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: black;
    z-index: 1;
}

.logo {
    display: flex;
}

#fav {
    margin: 0 0.68vw 0 1.35vw;
    height: 1.76vw;
    width: 1.76vw;
}

#logo {
    font-size: 1.49vw;
}

#navbar {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.08vw;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

.nav {
    outline: none;
    border: none;
    background-color: transparent;
    margin: 0 0.68vw;
}

.nav.border {
    padding: 0;
    width: 11.51vw;
    height: 2.30vw;
    border: 0.07vw solid #fff;
    border-radius: 2.1vw;
    background-color: black;
}

.nav.border:hover {
    background-color: white;
    color: black;
}

.nav.noborder {
    margin: 0.35vw 0.7vw;
    padding: 0.21vw 0.98vw;
}

a {
    text-decoration: none;
    color: white;
}

a[href^="#"]:hover {
    color: black;
}

.section1 {
    background-image: url("../image/main_image.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 3.64vw;
    position: relative;
}

.title {
    font-size: 3.25vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -80%, -90%);
    text-align: left;
}

.subheading2{
    display: block;
    margin: 8.13vw 0 6.09vw 0;
    font-size: 2.43vw;
}

.image_text {
    font-weight: bold;
    font-size: 1.35vw;
}

.y_box {
    margin: 0 6.84vw;
}

.flip_card {
    display : flex;
    flex-direction: column;
    margin: 3.39vw auto 0;
    width: 18.85vw;
    height: 32.49vw;
    perspective: 1000px;
}

#card_face {
    display: flex;
    margin: 10.16vw auto 4.74vw;
    width: 10.16vw;
    height: 7.85vw;
}

#symbol {
    margin: auto;
    width: 3.11vw;
    height: 3.11vw;
}

.symbol {
    display : flex;
    flex-direction: column;
    margin: 3.39vw auto 0;
    perspective: 1000px;
}

.card1__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card1__inner:hover {
    transform: rotateY(180deg);
}

.card2__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card2__inner:hover {
    transform: rotateY(180deg);
}

.card3__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card3__inner:hover {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 1.12vw;
    box-shadow: 0px 0.21vw 1.26vw 0.21vw rgba(0, 0, 0, 0.2);
}

.card__face.face1 {
    border: 0.14vw solid #FF79A5;
    box-sizing: border-box;
    border-radius: 0.92vw;
}

.card__face.face2 {
    border: 0.14vw solid #FF8C12;
    box-sizing: border-box;
    border-radius: 0.92vw;
}

.card__face.face3 {
    border: 0.14vw solid #FF604E;
    box-sizing: border-box;
    border-radius: 0.92vw;
}

.card__face--back {
    background-color: white;
    background-image: url(../image/card_back.png);
    background-size: 19.48vw 32.49vw;
    transform: rotateY(180deg);
    border: none;
}

.card__content {
    width: 100%;
    height: 100%;
    color: black;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.22vw;
    line-height: 1.5;
}

.card__content p {
    margin: 12.6vw 0.91vw;
}

.content2 p {
    margin: 14vw 0.91vw;
}

.section3 {
    background-color: var(--cards-background-color);
}

.subheading3 {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 1.68vw;
    display: block;
    margin: 4.69vw 0 2.1vw 0;
}

.button {
    display: flex;
    justify-content: center;
}

.btn{
    border-radius: 0.28vw;
    background-color: white;
    border: 0.14vw solid black;
    box-sizing: border-box;
    border-radius: 1.4vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4vw;
    cursor: pointer;
    margin: 0 0.7vw;
    width: 12.25vw;
    height: 4.2vw;
}

#btn_icon {
    width: 1.68vw;
    height: 1.68vw;
    margin: 0 0.35vw;
}

p {
    margin: 0 0.35vw;
}

.btn.placeBtn {
    border-color:var(--place-color);
    background-color: black;
    color: white;
}

.btn.productBtn {
    border-color:var(--product-color);
}

.btn.priceBtn {
    border-color:var(--price-color)
}

.btn.packagingBtn {
    border-color:var(--packaging-color);
}

.btn.propositionBtn {
    border-color:var(--proposition-color);
}

.btn.promotionBtn {
    border-color:var(--promotion-color);
}

.btn:hover {
    background-color: black;
    color: white;
}

.container {
    display: flex;
    margin: 4.9vw 9.1vw 0 9.1vw;
  }
    
  .card-1 {
    position: relative;
    width: 22.54vw;
    height: 38.92vw;
    background: #892E8D;
    box-shadow: 0px 0px 0.51vw rgba(0, 0, 0, 0.4);
    border-radius: 1.05vw;
  }

  .card {
    display: flex;
    position: relative;
    width: 22.54vw;
    height: 38.92vw;
    background: white;
    box-shadow: -4.2vw 0px 0.7vw 1.4vw1 rgba(0, 0, 0, 0.4);
    border-radius: 1.05vw;
    transition: 0.3s ease-out;
  }
    
  .card:not(:first-child) {
    margin-left: -3.5vw;
  }
    
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
    
  .card:hover ~ .card {
    position: relative;
    left: 2.1vw;
    transition: 0.4s ease-out;
  }
    
  .bar{
    position: absolute;
    width: 2.1vw;
    height: 38.92vw;
    border-radius: 0.7vw 0px 0px 0.7vw;
    background: #892E8D;
    box-shadow: 0px 0.28vw 0.28vw rgba(0, 0, 0, 0.25);
  }
    
  .cardtitle{
    position: absolute;
    margin-top: 2.8vw;
    margin-left: 3.5vw;
    margin-right: 1.4vw;
    width: 15.4vw;
    top: 7vw;
    color: black;
    text-align: left;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 1.96vw;
    line-height: 2.8vw;
    letter-spacing: -0.05em;
      
    flex: none;
    order: 0;
    flex-grow: 0;
}


#mini {
    position: absolute;
    width: 4.21vw;
    height: 4.21vw;
    left: 15.96vw;
    top: 1.26vw;
}

#card_emoji {
    position: absolute;
    left: 3.5vw;
    top: 33.11vw;
}
    
.p {
    position: absolute;
    width: 4.9vw;
    height: 1.05vw;
    left: -1.4vw;
    top: 8.4vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 0.7vw;
    line-height: 0.98vw;
    transform: rotate(90deg);
    color: #FFFFFF;
      
}
  
.sub {
    position: absolute;
    width: 5.6vw;
    height: 1.05vw;
    left: 3vw;
    top: 14vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 0.7vw;
    line-height: 10.5vw;
    transform: rotate(90deg);
    color: rgba(255, 255, 255, 0.8);
}
    
.www {
    position: absolute;
    width: 2.1vw;
    height: 1.05vw;
    left: -0.01vw;
    top: 2.8vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 0.7vw;
    line-height: 0.98vw;
    /* identical to box height */
    color: #FFFFFF;
    transform: rotate(90deg);
}

#number {
    position: absolute;
    width: 1.26vw;
    height: 1.33vw;
    left: 0.42vw;
    top: 28.7vw;
}

.number {
    position: absolute;
    width: 1.26vw;
    height: 1.26vw;
    left: 0.42vw;
    top: 31.5vw;

    background: #FFFFFF;
    border: 0.04vw solid #000000;
    box-sizing: border-box;
}

.heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 4.48vw;
    margin: 4.9vw 0 3.15vw 0;
    display: block;
}

.what {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images {
    display: flex;
    flex-direction: column;
    margin: 0 2.8vw;
}

#circle_image {
    width: 14vw;
    height: 14vw;
    margin: 2.1vw auto;
}

.text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.26vw;
    width: 19.6vw;
    height: 3.85vw;
}

.body {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 2.52vw;
    line-height: 3.85vw;
}

.purple {
    color: var(--place-color);
}

.orange {
    color: var(--product-color);
}

.blue {
    color: var(--promotion-color);
}

.pink {
    color: var(--packaging-color);
}

#ai_card {
    position: absolute;
    vertical-align: middle;
    width: 20.76vw;
    height: 35.88vw;
    left: 19.25vw;
    top: 4.62vw;

}

#ai_webinars {
    position: absolute;
    vertical-align: middle;
    width: 16.1vw;
    height: 12.04vw;
    left: 6.3vw;
    top: 1.75vw;

}

#ai_stations {
    position: absolute;
    vertical-align: middle;
    width: 18.06vw;
    height: 13.44vw;
    left: 8.47vw;
    top: 25.41vw;
}

#ai_hospitals {
    position: absolute;
    vertical-align: middle;
    width: 20.23vw;
    height: 15.13vw;
    left: 32.83vw;
    top: 32.13vw;
}

.body.ai {
    display: inline-block;
    position: absolute;
    left: 49vw;
    top: 11.48vw;
}

#inspirations {
    position: absolute;
    width: 49.93vw;
    height: 34.84vw;
    left: 39.21vw;
    top: 8.05vw;

}

.body.inspirations {
    display: inline-block;
    position: absolute;
    left: 3.22vw;
    top: 16.45vw;
}

.tempogif {
    position: absolute;
    width: 41.16vw;
    height: 26.11vw;
    left: 4.27vw;
    top: 12.39vw;
    background-color: black;
    border-radius: 2.1vw;
    border: 0.07vw solid #1898E3;
    box-shadow: inset 0px 0px 0.49vw rgba(0, 0, 0, 0.4);
}

.body.tempo {
    display: inline-block;
    position: absolute;
    left: 53.13vw;
    top: 18.62vw;
}

#gif {
    width: 6.14vw;
    height: 5.30vw;
}

#slider {
    position: absolute;
    left: 6.3vw;
    top: 18.9vw;
    -webkit-appearance: none;
    width: 27.8vw;
    height: 0.35vw;
    background: white;
    outline: none;
}

#bar {
    position: absolute;
    width: 27.8vw;
    height: 2.87vw;
    left: 6.44vw;
    top: 18.41vw;

}

.tempogif input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--promotion-color);
    border-radius: 3.5vw;
    width: 2.87vw;
    height: 2.87vw;
    cursor: pointer;
}

canvas {
    border-radius: 2.8vw;
    margin-top: 4.2vw;
}

#speed_slow {
    position: absolute;
    width: 7.17vw;
    height: 7.01vw;
    left: 3.95vw;
    top: 10.6vw;
}

#speed_fast {
    position: absolute;
    width: 7.17vw;
    height: 7.01vw;
    left: 29.97vw;
    top: 10.6vw;
}

#share_card {
    position: absolute;
    width: 25.05vw;
    height: 43.3vw;
    left: 67.13vw;
    top: 5.36vw;
}

#share_idea {
    position: absolute;
    width: 33.29vw;
    height: 37.45vw;
    left: 35.74vw;
    top: 9.38vw;
}

.body.share {
    display: inline-block;
    position: absolute;
    left: 2.8vw;
    top: 19.53vw;

}

#review {
    margin: 0px 1.12vw;
    width: 17.78vw;
    height: 17.78vw;
}

.body.review {
    display: block;
    margin: 8.75vw auto 9.8vw;
}

#application {
    margin: 9.03vw auto;
    width: 66.05vw;
    height: 42.5vw;
}

.scroll {
    height: 50.89vw;
    overflow: scroll;
}

.scroll::-webkit-scrollbar {
    width: 0.7vw;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: var(--cards-background-color);
    border-radius: 0.7vw;
}

.scroll::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 0.7vw;
}

.section7 {
    margin: 0;
    position: relative;
    background-image: url("../image/background.svg");
    background-size: cover;
    background-position-y: -3vw;
}

.subheading {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 3.36vw;
    display: block;
    margin: 9.1vw auto;
}

.body2 {
    display: flex;
    text-align: left;
    position: absolute;
    width: 41.93vw;
    height: 27.37vw;
    left: 5.46vw;
    top: 22.54vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.96vw;
    line-height: 2.94vw;
}

form {
    text-align: left;
    position: absolute;
    left: 51.31vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.26vw;
    line-height: 1.47vw;
}

input {
    position: relative;
    margin-top: 0.7vw;
    border-radius:0.35vw;
    border-style: none;
    width: 35.63vw;
    height: 2.45vw;
    z-index: 1;
}

textarea {
    margin-top: 0.7vw;
    border-radius: 0.35vw;
    border-style: none;
    width: 35.63vw;
}

#submit {
    margin-top: 3.5vw;
    margin-left: 22.4vw;
    width: 13.44vw;
    height: 3.92vw;
    border: 0.07vw solid #fff;
    border-radius: 2.1vw;
    background-color: black;
    color: #fff;
    font-weight: bold;
    font-size: 1.12vw;
    line-height: 1.33vw;
}

#submit:hover{
    background-color: white;
    color: black;
}


@media screen and (max-width:1320px) {

    header, body {
        width: 100%;
    }

    .section1 {
        width: 100%;
        height: 0;
    	padding-top: calc(969 / 1320 * 100%);
    }

}