@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --font-top-menu: 16px;
    --font-game-setting-question: 36px;
    --font-title: 64px;
    --font-feature-explanation: 36px;
    --font-header3: 24px;
    --font-smaller: 20px;
    --font-header1: 48px;
    --font-header2: 18px;

    --place-color: #892E8D;
    --product-color: #FF8C12;
    --price-color: #FF604E;
    --packaging-color: #FF79A5;
    --proposition-color: #37BF3D;
    --promotion-color: #1898E3;

    --feature-background-color: #292929;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

body {
    background-color: black;
    color: white;
    text-align: center;
}

section {
    width: 1440px;
    height: 900px;
    margin-bottom: 70px;
    overflow: hidden;
}

.section1 {
    /* margin-top: 70px; */
    position: relative;
    width: 1440px;
    height: 900px;
    font-weight: bold;
    background-image: url("../image/main.png");
    background-size: contain;
    background-repeat: no-repeat;
}

header {
    font-weight: bold;
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 70px;
    background-color: white;
}

a[href] {
    text-decoration: none;
    color: black;
}

ul {
    display: flex;
}

li {
    justify-content: space-around;
    list-style: none;
}

.logo {
    font-size: 22px;
    line-height: 26px;
    margin: 22px 70px;
}

button {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    outline: none;
    margin-right: 35px;
}

.border {
    padding: 0;
    width: 184px;
    height: 45px;
    border: 0;
    border-radius: 30px;
    background-color: #FF79A5;
    color: #fff;
}

.border:hover {
    background-color: black;
}

.no_border {
    border: none;
    padding: 3px 14px;
    background-color: transparent;
}

.main_text {
    color: black;
    font-size: var(--font-title);
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}

.section2 {
    padding-top: 80px;
    position: relative;
}

.title.experience_text {
    font-weight: 900;
    font-size: var(--font-header1);
    line-height: 56px;
}

.detail.experience_text {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 120px;
    width: 680px;
    font-weight: normal;
    font-size: (var(--font-header2));
    line-height: 30px;
}

.experience {
    margin: 0 200px;
    display: flex;
    justify-content: space-around;
}

.images {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

#circle_image {
    width: 240px;
    height: 240px;
    margin-bottom: 30px;
}

.image_text {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.symbol_text {
    font-weight: bold;
    font-size: 72px;
    margin-bottom: 40px;
}

.section3 {
    position: relative;
}

.we_text {
    font-weight: bold;
    font-size: var(--font-title);
    line-height: 75px;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}

.icon_place {
    width: 193px;
    height: 193px;
    position: absolute;
    left: -96px;
    top: 379.5px;
}

.icon_place2 {
    position: absolute;
    width: 162.41px;
    height: 162.41px;
    left: -131px;
    top: 502.21px;
}

.icon_product {
    width: 193px;
    height: 193px;
    position: absolute;
    left: 1328.46px;
    top: 270px;
}

.icon_product2 {
    position: absolute;
    width: 162.41px;
    height: 162.41px;
    left: 1181px;
    top: 181px;
}

.icon_price {
    width: 193px;
    height: 193px;
    position: absolute;
    left: 992px;
    top: 69px;
}

.icon_price2 {
    position: absolute;
    width: 162.41px;
    height: 162.41px;
    left: 833px;
    top: 717px;

}

.icon_packaging {
    width: 193px;
    height: 193px;
    position: absolute;
    left: 127.3px;
    top: 607px;
}

.icon_packaging2 {
    position: absolute;
    width: 162.41px;
    height: 162.41px;
    left: 90.83px;
    top: 717px;
}

.icon_proposition {
    width: 221px;
    height: 221px;
    position: absolute;
    left: 412.76px;
    top: 602px;
}

.icon_proposition2 {
    position: absolute;
    width: 185.98px;
    height: 185.98px;
    left: 392.71px;
    top: 742px;
}

.icon_promotion {
    width: 239px;
    height: 239px;
    position: absolute;
    left: 1080.45px;
    top: 571.45px;
}

.icon_promotion2 {
    position: absolute;
    width: 201.12px;
    height: 201.12px;
    left: 1181px;
    top: 732px;
    z-index: 1;
}

.section4 {
    padding-top: 70px;
    position: relative;
}

.title.what_text {
    display:block;
    margin-bottom: 66px;
    font-weight: bold;
    font-size: var(--font-title);
    line-height: 75px;
}

.what {
    margin: 0px 240px 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section5 {
    position: relative;
    background-color: var(--feature-background-color);;
}

.container {
    display: flex;
    position: absolute;
    width: 1350px;
    height: 800px;
  /*   height: 500px;
    width: calc(100% - 200px); */
    margin-left: 40px;
  }
    
  .card-1 {
    position: relative;
    width: 322px;
    height: 556px;
    background: #892E8D;
    box-shadow: 0px 0px 7.21661px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
  }
    
  .card-back {
    position: absolute;
    width: 193px;
    height: 193px;
    left: 64.5px;
    top: 181.5px;
    
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
  }
    
  .card {
    display: flex;
    position: relative;
    width: 320px;
    height: 550px;
    background: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    margin-left: 10px;
    transition: 0.3s ease-out;
    /*   position: relative; */
    left: 0px;
  }
    
  .card:not(:first-child) {
    margin-left: -50px;
  }
    
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
    
  .card:hover ~ .card {
    position: relative;
    left: 30px;
    transition: 0.4s ease-out;
  }
    
  .bar{
    position: absolute;
    width: 30px;
    height: 550px;
    border-radius: 10px 0px 0px 10px;
    background: #892E8D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
    
  .cardtitle{
    position: absolute;
    margin-left: 50px;
    margin-right: 20px;
    width: 200px;
    top: 40px;
    color: black;
    text-align: left;
    font-family: IBM Plex Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    /* or 164% */
    letter-spacing: -0.05em;
      
    flex: none;
    order: 0;
    flex-grow: 0;
  }
    
  /* Frame 38 */
    
  .button {
    position: absolute;
    width: 200px;
    height: 34px;
    left: 70px;
    top: 470px;
    background: rgba(255, 255, 255, 255);
    border: 1px solid #892E8D;
    border-radius: 30px;
  }
    
  .buttontext {  
    position: absolute;
    width: 200px;
    height: 20px;
    left: 38px;
    top: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }
    
  .line {
    position: absolute;
    width: 300px;
    height: 100px;
    left: -43px;
    top: -130px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
  }
    
  .p {
    position: absolute;
    width: 70px;
    height: 15px;
    left: -20px;
    top: 120px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    transform: rotate(90deg);
    color: #FFFFFF;
      
  }
  
  .sub {
    position: absolute;
    width: 80px;
    height: 15px;
    left: -25px;
    top: 200px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    transform: rotate(90deg);
    color: rgba(255, 255, 255, 0.8);
  }
    
  .www {
    position: absolute;
    width: 30px;
    height: 15px;
    left: -2px;
    top: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height */
    color: #FFFFFF;
    transform: rotate(90deg);
  }
    
  .six-p {
      margin: 60px 0;
      text-align: center;
  }
    
  .six-p:after {
      content: '';
      display: block;
      clear: both;
  }
    
  .btn{
      padding: 18px auto;
      border-radius: 4px;
      background-color: white;
      border: 2px solid black;
      box-sizing: border-box;
      border-radius: 20px;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      cursor: pointer;
      margin: 40px 15px;
      width: 152px;
      height: 64px;
  }
  
  .btn.placeBtn {
      border-color:var(--place-color);
      background-color: var(--place-color);
      color: white;
  }
  
  .btn.productBtn {
      border-color:var(--product-color);
  }
  
  .btn.priceBtn {
      border-color:var(--price-color)
  }
  
  .btn.packagingBtn {
      border-color:var(--packaging-color);
  }
  
  .btn.propositionBtn {
      border-color:var(--proposition-color);
  }
  
  .btn.promotionBtn {
      border-color:var(--promotion-color);
  }
  
  .btn.placeBtn:hover {
      background-color: var(--place-color);
  }
  
  .btn.productBtn:hover {
      background-color: var(--product-color);
  }
  
  .btn.priceBtn:hover {
      background-color: var(--price-color);
  }
  
  .btn.packagingBtn:hover {
      background-color: var(--packaging-color);
  }
  
  .btn.propositionBtn:hover {
      background-color: var(--proposition-color);
  }
  
  .btn.promotionBtn:hover {
      background-color: var(--promotion-color);
  }

.section6 {
    height: 5900px;
    padding-top: 45px;
    font-weight: 900;
    font-size: 36px;
    line-height: 55px;
}

.title.demo_text {
    display: block;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
}

.section6_1 {
    position: relative;
}

.section6_2 {
    position: relative;
}

.section6_3 {
    position: relative;
}

.section6_4 {
    position: relative;
}

#ai_card {
    position: absolute;
    vertical-align: middle;
    width: 296.78px;
    height: 512.45px;
    left: 296px;
    top: 306.77px;
}

#ai_webinars {
    position: absolute;
    vertical-align: middle;
    width: 230px;
    height: 172px;
    left: 142px;
    top: 206px;
}

#ai_stations {
    position: absolute;
    vertical-align: middle;
    width: 273.38px;
    height: 192.94px;
    left: 68px;
    top: 430px;
}

#ai_hospitals {
    position: absolute;
    vertical-align: middle;
    width: 288.98px;
    height: 216.1px;
    left: 496px;
    top: 566px;
}

.features_text.ai {
    display: inline-block;
    position: absolute;
    left: 872px;
    top: 388px;
}

#inspirations {
    position: absolute;
    width: 713.23px;
    height: 497.67px;
    left: 624.14px;
    top: 198.31px;
}

.features_text.inspirations {
    display: inline-block;
    position: absolute;
    left: 80px;
    top: 352px;
}

#tempo {
    position: absolute;
    left: 97px;
    top: 199.52px;
}

.features_text.tempo {
    display: inline-block;
    position: absolute;
    width: 500px;
    height: 196px;
    left: 847px;
    top: 291.76px;
}

#share {
    position: absolute;
    width: 894px;
    height: 747px;
    left: 546px;
    top: 76.5px;
}

.features_text.share {
    display: inline-block;
    position: absolute;
    left: 80px;
    top: 386.26px;
}

.purple {
    color: var(--place-color);
}

.orange {
    color: var(--product-color);
}

.blue {
    color: var(--promotion-color);
}

.pink {
    color: var(--packaging-color);
}

.section6_5 {
    position: relative;
    background-color: var(--feature-background-color);;
}

#laptop {
    position: absolute;
    left: 27px;
    top: 158px;
}

#phone {
    position: absolute;
    left: 1040px;
    top: 86.39px;
}

.section6_6 {
    padding-top: 120px;
}

.reflect_text {
    display: block;
    margin-bottom: 165px;
}

#reflect_image {
    margin: 0px 16px;
}

.section7 {
    position: relative;
    padding-top: 70px;
    margin-bottom: 0px;
    height: 770px;
}

.title.contact_text {
    display: block;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 170px;
}

.detail.contact_text {
    text-align: left;
    position: absolute;
    left: 152px;
    width: 598.6px;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
}

form {
    text-align: left;
    position: absolute;
    left: 807px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

input {
    position: relative;
    margin-top: 10px;
    border-radius: 5px;
    border-style: none;
    width: 509px;
    height: 35px;
    z-index: 1;
}

textarea {
    margin-top: 10px;
    border-radius: 5px;
    border-style: none;
}

#submit {
    margin-top: 50px;
    margin-left: 320px;
    width: 192px;
    height: 56px;
    border: 0;
    border-radius: 30px;
    background-color: #FF79A5;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

#submit:hover {
    background-color: white;
    color: black;
}